body {
	background: #f2f2f2;
	font-family: 'Source Sans Pro', sans-serif;
}

header {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 50px;
	background: #2E3740;
	box-shadow: 0px 0px 5px #888;
	z-index: 1;
}

editor-file {
	position: relative;
	display: inline-block;
	top: 0px;
	left: 0px;
	background: #37424D;
	height: 100%;
	line-height: 50px;
	padding-left: 20px;
	color: #f2f2f2;
}

editor-file editor-file-close {
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	height: 100%;
	cursor: pointer;
	transition:color 0.1s;
}

editor-file editor-file-close:hover {
	color: #bbb;
}

editor-code {
	position: absolute;
	display: block;
	height: calc(100% - 50px);
	top:50px;
	left: 0px;
	width:calc(100% - 210px);
	border-right: 1px solid #93B0CC;
	background: #fff;
	overflow: hidden;
	font-family: 'Source Code Pro', monospace;
}

editor-code textarea {
	position: absolute;
	width: calc(100% - 40px);
	height: calc(100% - 40px);
	outline:none;
	border: none;
	display: block;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	left: 0px;
	overflow: scroll;
	font-family: 'Source Code Pro', monospace;
	resize: none;
	font-size: 18px;
}

editor-sidebar {
	position: absolute;
	right: 0px;
	width: 210px;
	top:50px;
	height: calc(100% - 50px);
	z-index: -1;
	overflow: scroll;
}

editor-sidebar-panel-title {
	position: relative;
	display: block;
	background: #93B0CC;
	width: 200px;
	line-height: 30px;
	height: 30px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	padding-left: 5px;
	padding-right: 5px;
	float: left;
	margin-bottom: 5px;
}

editor-debug-register {
	position: relative;
	display: block;
	height: 32px;
	width: 70px;
	float: left;
	text-align: center;
	font-size: 12px;
	margin-bottom: 5px;
}

editor-debug-memorysize {
	position: relative;
	display: block;
	width: 200px;
	line-height: 30px;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
	float: left;
	margin-bottom: 5px;
	font-size: 12px;
}

editor-debug-action {
	position: relative;
	display: block;
	height: 32px;
	width: 70px;
	line-height: 32px;
	float: left;
	text-align: center;
	font-size: 12px;
	margin-bottom: 5px;
	transition: background 0.1s;
}

editor-debug-action:hover {
	background: #ccc;
	cursor: pointer;
}

editor-autocomplete {
	display: block;
	position: absolute;
	visibility: hidden;
	opacity: 0.8;
	background: #f2f2f2;
	max-height: 300px;
	max-width: 200px;
	min-height: 100px;
	min-width: 150px;
	opacity: 0;
	transition: top 0.2s, left 0.2s, opacity 0.2s;
	border-radius: 2px;
	overflow: scroll;
	box-shadow: 0px 0px 5px #AAA;
}

editor-autocomplete-cmd {
	width: 100%;
	display: block;
	position: relative;
	color: #2E3740;
	height: 32px;
	overflow: hidden;
	transition: height;
}

editor-autocomplete-cmd.selected {
	height: auto;
	background: #37424D;
	color: #fff;
}

editor-autocomplete-cmd cmd-title {
	display: block;
	width: calc(100% - 14px);
	text-align: left;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 16px;
}

editor-autocomplete-cmd.selected cmd-title {
	background: #2E3740;
}

editor-autocomplete-cmd cmd-eg {
	display: block;
	width: calc(100% - 14px);
	text-align: left;
	font-size: 12px;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 5px;
	padding-bottom: 5px;
}

editor-autocomplete-cmd cmd-desc {
	display: block;
	width: calc(100% - 14px);
	text-align: left;
	font-size: 12px;
	padding-left: 7px;
	padding-right: 7px;
	padding-bottom: 5px;
}
